index.html
<!DOCTYPE html><html lang="ru"><head><title>Beeline Привет+</title><link rel="stylesheet" href="css/styles.css"><script type="text/javascript" src="js/build/production.min.js"></script></head><body><header class="container-fluid"><div class="row topHeadBlock"><a href="javascript:void(0);" class="backMainSite col-lg-6 col-md-6 col-sm-12 col-xs-12">На основной сайт Beeline</a><div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><span class="changeLang pull-right"><a href="javascript:void(0);" class="kgz text-uppercase">kgz</a><a href="javascript:void(0);" class="rus text-uppercase active">rus</a></span><input type="text" class="search pull-right"></div></div><div class="row botHeadBlock"><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><a id="logo" href="javascript:void(0);">Привет+</a></div><nav id="topMenu" class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><ul class="nav navbar-nav"><li><a href="javascript:void(0);">Чарты<span class="glyphicon glyphicon-triangle-bottom"></span></a><ul class="dropSubMenu"><li><a href="javascript:void(0)">Топ 100</a></li><li><a href="javascript:void(0)">Популярные</a></li><li><a href="javascript:void(0)"></a></li><li><a href="javascript:void(0)">Юмор</a></li><li><a href="javascript:void(0)">Рок</a></li><li><a href="javascript:void(0)">Шансон</a></li><li><a href="javascript:void(0)">Реп и хип-хоп</a></li><li><a href="javascript:void(0)">Клубная музыка</a></li><li><a href="javascript:void(0)">Саундтрек</a></li><li><a href="javascript:void(0)">Поп</a></li><li><a href="javascript:void(0)">Классика</a></li><li><a href="javascript:void(0)">Этническая музыка</a></li><li><a href="javascript:void(0)">Джаз</a></li></ul></li><li><a href="javascript:void(0);">Опции<span class="glyphicon glyphicon-triangle-bottom"></span></a><ul class="dropSubMenu"><li><a href="javascript:void(0)">Топ 100</a></li><li><a href="javascript:void(0)">Популярные</a></li><li><a href="javascript:void(0)"></a></li><li><a href="javascript:void(0)">Юмор</a></li><li><a href="javascript:void(0)">Рок</a></li><li><a href="javascript:void(0)">Шансон</a></li><li><a href="javascript:void(0)">Реп и хип-хоп</a></li><li><a href="javascript:void(0)">Клубная музыка</a></li><li><a href="javascript:void(0)">Саундтрек</a></li><li><a href="javascript:void(0)">Поп</a></li><li><a href="javascript:void(0)">Классика</a></li><li><a href="javascript:void(0)">Этническая музыка</a></li><li><a href="javascript:void(0)">Джаз</a></li></ul></li><li><a href="javascript:void(0);">Узнай больше<span class="glyphicon glyphicon-triangle-bottom"></span></a><ul class="dropSubMenu"><li><a href="javascript:void(0)">Топ 100</a></li><li><a href="javascript:void(0)">Популярные</a></li><li><a href="javascript:void(0)"></a></li><li><a href="javascript:void(0)">Юмор</a></li><li><a href="javascript:void(0)">Рок</a></li><li><a href="javascript:void(0)">Шансон</a></li><li><a href="javascript:void(0)">Реп и хип-хоп</a></li><li><a href="javascript:void(0)">Клубная музыка</a></li><li><a href="javascript:void(0)">Саундтрек</a></li><li><a href="javascript:void(0)">Поп</a></li><li><a href="javascript:void(0)">Классика</a></li><li><a href="javascript:void(0)">Этническая музыка</a></li><li><a href="javascript:void(0)">Джаз</a></li></ul></li></ul></nav><div class="login text-centercol-lg-1 col-md-1 col-sm-12 col-xs-12"><a href="javascript:void(0)">Войти</a></div><div class="connectService col-lg-2 col-md-2 col-sm-12 col-xs-12"><a href="javascript:void(0)" class="beebtn">Подключить услугу</a></div></div></header><section class="container-fluid content"><h1>Jade - node template engine</h1><div id="container" class="col"><p>Get on it!</p></div><p>Jade is a terse and simple
templating language with a
strong focus on performance
and powerful features
</p><div class="name">Killers</div><div class="title">Нзвание песни</div><div class="price">90 руб</div><div class="likes">12</div><div class="name">Killers</div><div class="title">Нзвание песни 2</div><div class="price">90 руб</div><div class="likes">12</div></section><footer class="container-fluid"><div class="row"><div class="copyright col-lg-2 col-md-2 col-sm-12 col-xs-12">Билайн &copy; 2016.</div><div class="info pull-right text-right col-lg-6 col-md-6 col-sm-12 col-xs 12"><ul class="list"><li class="list-item"><a href="javascript:void(0)" class="rightholder">Информация о правообладателях</a></li><li class="list-item"><a href="javascript:void(0)" class="aboutServ">Об услуге    </a></li></ul></div></div></footer></body></html>

jade/index.jade

mixin list(id, ...items)
    ul(class=id)
        each item in items
            li
                a(href='javascript:void(0)')!{item}

doctype html
html(lang="ru")
  head
    title Beeline Привет+
    link(rel='stylesheet', href='css/styles.css')
    script(type='text/javascript', src='js/build/production.min.js')
  body
    header.container-fluid
        div.row.topHeadBlock
            a(href='javascript:void(0);', class='backMainSite col-lg-6 col-md-6 col-sm-12 col-xs-12')| На основной сайт Beeline
            div.col-lg-6.col-md-6.col-sm-12.col-xs-12
                span.changeLang.pull-right
                    a(href='javascript:void(0);', class='kgz text-uppercase')| kgz
                    a(href='javascript:void(0);', class='rus text-uppercase active')| rus
                input(type='text', class='search pull-right')
        div.row.botHeadBlock
            div.col-lg-4.col-md-4.col-sm-12.col-xs-12
                a#logo(href='javascript:void(0);')| Привет+
            nav#topMenu.col-lg-5.col-md-5.col-sm-12.col-xs-12
                ul.nav.navbar-nav
                    li
                        a(href='javascript:void(0);')| Чарты
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
                    li
                        a(href='javascript:void(0);')| Опции
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
                    li
                        a(href='javascript:void(0);')| Узнай больше
                            span.glyphicon.glyphicon-triangle-bottom
                        +list('dropSubMenu', 'Топ 100', 'Популярные', '', 'Юмор', 'Рок', 'Шансон', 'Реп и хип-хоп', 'Клубная музыка', 'Саундтрек', 'Поп', 'Классика', 'Этническая музыка', 'Джаз')
            div.login.text-centercol-lg-1.col-md-1.col-sm-12.col-xs-12
                a(href='javascript:void(0)')|Войти
            div.connectService.col-lg-2.col-md-2.col-sm-12.col-xs-12
                a.beebtn(href='javascript:void(0)')| Подключить услугу

    section.container-fluid.content
        h1 Jade - node template engine
        #container.col
            p Get on it!
          p.
            Jade is a terse and simple
            templating language with a
            strong focus on performance
            and powerful features
            
        include includes/data.jade
        each data in datas
                div.name #{data.name}
                div.title #{data.title}
                div.price #{data.price}
                div.likes #{data.likes}
    footer.container-fluid
        div.row
            div.copyright.col-lg-2.col-md-2.col-sm-12.col-xs-12|Билайн &copy; 2016.
            div.info.pull-right.text-right.col-lg-6.col-md-6.col-sm-12.col-xs.12
                ul.list
                    li.list-item
                        a.rightholder(href='javascript:void(0)')|Информация о правообладателях
                    li.list-item
                        a.aboutServ(href='javascript:void(0)')|Об услуге    
 
